.admin-navbar {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
    padding: 10px 0;
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);
    box-shadow: 0 1px 4px 0 rgba(74, 74, 78, 0.12);
    background-color: white;
}

.link {
    color: var(--text-color);
    &:hover {
        color: black;
    }
}

.avatar {
    margin-right: 20px;
}
