@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary: #00afef;
    --primary-light: #36d8ff;
    --text-color: #333333;
    // Default
    --default-layout-header-height: 120px;
    --default-layout-width: 1200px;

    --border-radius: 8px;
    --default-distance: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    text-rendering: optimizespeed;
    color: var(--text-color);
    background-color: #fafafa;
    // background-color: #333333;
}

input,
button,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    text-decoration: none;
}

// custom styles col bootstraps
.col-2-4 {
    flex: 0 0 auto;
    max-width: 20%;
}
