.popup-container {
    width: 440px;
    padding: 10px 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
        margin-bottom: 14px;
    }
}

.main-content {
    background-color: white;
    border-radius: 3px;
    padding: 10px 30px;
}

.header {
    border-bottom: 1px solid #efefef;
    padding: 18px 0;
}

.title {
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: 3px;
    font-weight: 500;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    label {
        text-align: right;
        color: rgba(85, 85, 85, 0.8);
        min-width: 20%;
        margin-right: 20px;
    }
}

.user-avt {
    text-align: center;
    border-left: 1px solid #efefef;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.file-description {
    color: #999;
    font-size: 14px;
    line-height: 20px;
    margin-top: 12px;
}
