.wrapper {
    background-color: white;
    padding: 30px 0;
    margin-bottom: var(--default-distance);
}

.content {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 -2px 2px 0 rgba(0, 0, 0, 0.04);
    height: 100%;
}

.title {
    display: block;
    background: var(--primary);
    color: white;
    padding: 16px;
    font-size: 14px;
    margin-bottom: 0;

    i {
        margin-right: 4px;
    }
}

.list {
    margin-bottom: 0;
    padding: 0 12px;
}

.item {
    display: block;
    margin: 0px;
    border-bottom: 1px solid #e6e6e6;
    height: 38px;

    a {
        display: block;
        padding: 10px 15px;
        background: #ffffff;
        color: var(--text-color);
        &:hover {
            color: #d51c24;
        }

        span {
            padding-left: 4px;
        }
    }
}

.item:last-child {
    border-color: transparent;
}
