.banner-home-pro {
    margin-bottom: var(--default-distance);

    .banner-home-pro-link {
        display: block;
    }

    img {
        height: 120px;
        width: 100%;
    }
}

.home-products {
    margin-bottom: var(--default-distance);
    background-color: white;
    border-radius: var(--border-radius);
}

.section-title {
    margin: 15px 0;
    text-align: center;
    h2 {
        font-size: 24px;
        color: var(--text-color);
    }
}

.more-link {
    text-align: right;
    padding: 10px;
    a {
        color: #d51c24;
    }
}
