.main {
    height: calc(100vh - var(--default-layout-header-height));
}

.title {
    font-size: 22px;
    font-weight: 700;
    margin: auto;
    text-align: center;
    min-height: 53px;
    line-height: 53px;
    padding: 10px;
}

.image {
    text-align: center;
    img {
        width: 30%;
    }
}

.error-message {
    color: #d32f2f;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
    margin-top: 3px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.forget-pass {
    margin: 5px 0;
    a {
        color: #777;
        font-size: 14px;
        line-height: 25px;
    }
}

.login-btn {
    margin: 15px 0;
}

.login-question {
    display: flex;
    align-self: center;
    justify-content: center;
    p {
        color: #777;
        font-size: 14px;
        margin-right: 5px;
    }
}
