.main {
    height: calc(100vh - var(--default-layout-header-height));
}

.navbar-container {
    display: flex;
    align-items: center;
}

.button-back {
    a {
        color: #4a4a4a;
        font-size: 24px;
    }
}

.title {
    font-size: 22px;
    font-weight: 700;
    margin: auto;
    text-align: center;
    min-height: 53px;
    line-height: 53px;
    padding: 10px;
}

.image {
    text-align: center;
    img {
        width: 30%;
    }
}

.message {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
    margin-top: 3px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;

    color: #afafaf;
    font-size: 13px;
    font-style: italic;
    padding-left: 15px;
}
.error {
    color: var(--red-color);
    font-style: normal;
    padding-left: 0;
}

.forget-btn {
    margin: 15px 0;
}
