.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.pagination {
    list-style: none;
    padding-left: 0;
}

.page-item {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #333333;
    margin: 5px;
    border-radius: 3px;
    color: var(--text-color);
    cursor: pointer;
    &:hover {
        border: 1px solid #d51c24;
        background: #d51c24;
        color: white;
    }
}

.current {
    color: white;
    background: #d51c24;
    border: 1px solid #d51c24;
}
