.main-content {
    background-color: white;
    border-radius: 3px;
    padding: 0 30px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
}

.header {
    border-bottom: 1px solid #efefef;
    padding: 18px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: 3px;
    font-weight: 500;
}

//Alert create address
.title-description {
    font-size: 12px;
    font-weight: 400;
}

//Address
.address-container {
    padding: 18px 0 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    background: #fff;

    &:last-child {
        border-color: transparent;
    }
}
