.main-content {
    background-color: white;
    border-radius: 3px;
    padding: 10px 30px;
}

.header {
    border-bottom: 1px solid #efefef;
    padding: 18px 0;
}

.title {
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: 3px;
    font-weight: 500;
}
