.wrapper {
    padding: 3rem 0rem 0rem 0rem;
    color: #333333;
    border-top: 0.1rem solid #e6e6e6;
    position: relative;
    font-size: 1.4rem;
    background-color: white;
    height: 24rem;
}
.title {
    margin-bottom: 1.6rem;
}

.list {
    list-style: none;
    padding-left: 0;
}

.item {
    margin-bottom: 0.8rem;
}

.link {
    cursor: pointer;
    color: #333333;
    &:hover {
        color: #d51c24;
    }
}
.copyrights {
    margin-top: 3rem;
    background: #f2f5f7;
    padding: 1rem 0rem;
    color: #333333;
    a {
        display: inline-block;
        position: relative;
    }
}
.input {
    border: 1px solid #ccc;
    margin-right: 0.4rem;
    border-radius: 0.4rem;
    padding: 0.6rem;
}
