.wrapper {
    padding: 30px 0 0 0;
    color: var(--text-color);
    border-top: 1px solid #e6e6e6;
    position: relative;
    font-size: 14px;
    background-color: white;
    height: 240px;
}
.title {
    font-size: 20px;
    margin-bottom: 16px;
}

.list {
    list-style: none;
    padding-left: 0;
}

.item {
    margin-bottom: 8px;
}

.link {
    cursor: pointer;
    color: var(--text-color);
    &:hover {
        color: var(--red-color);
    }
}
.copyrights {
    margin-top: 38px;
    background: #f2f5f7;
    padding: 10px 0;
    color: var(--text-color);
    a {
        display: inline-block;
        position: relative;
    }
}
.input {
    border: 1px solid #ccc;
    margin-right: 4px;
    border-radius: 4px;
    padding: 6px;
    width: 155px;
}
